[Desktop Entry]
Version=1.0
Name=Tarpuq JIGsw
Comment=Programa para los JIGs de pruebas de Tarpuq
Exec=/usr/local/bin/tarpuqJIGsw
Icon=/usr/local/share/icons/tq.png
Terminal=false
Type=Application
Categories=Application;
